.header {
  position: relative;
  &__buttons {
    position: absolute;
    top: 40px;
    right: 50px;
  }
  &__logo {
    position: absolute;
    top: 40px;
    left: 40px;
    display: none;
  }
}
body.main {
  .header__logo {
    display: block;
  }
}